@import "tailwindcss";



@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  
  --text-heading: 3rem;     /* 48px */
  --text-subheading: 2rem;  /* 32px */
  --text-subheading2: 1.5rem; /* 24px */
  --text-body: 1rem;        /* 16px */
  --color-headingColor:#080b10;

  --breakpoint-xsm: 320px;
  --breakpoint-sm:480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

}




/* Light Theme */
:root {
/* VARAIBLES */
  --background: white;
  --foreground: #1f2937ca;
}



/* Dark Theme */
.dark {
  /* VARAIBLES */
  --background: #121212; 
  --foreground: #E0E0E0; 
}


html{
  background-color: var(--background);
  color: var(--foreground);
}

.my-masonry-grid {
  display: flex;
  margin-left: 2px;
  width: auto;
padding-top: 20px;
}
.my-masonry-grid_column {
  margin: 2px;

}
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}

.customScrollBar{
  scrollbar-width: none;
}