@import "tailwindcss";

:root {


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}



.my-masonry-grid {
  display: flex;
  margin-left: 2px;
  width: auto;
padding-top: 20px;
}
.my-masonry-grid_column {
  margin: 2px;

}
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}

.customScrollBar{
  scrollbar-width: none;
}